{% extends "layout.njk" %}

{% block content %}
  <div>
    <div class="presentation-card">
      <h1>Gerencie seus cursos de finança e enriqueça aprendendo com os melhores!</h1>
      <img src="/assets/finance-purple.svg" alt="">
    </div>

    <div class="courses-display">
      <div class="courses-header">
        <h2>cursos</h2>
        <button class="btn primary">
          <a href="/courses/create">Criar curso</a>
        </button>
      </div>
      <div class="courses-card">
        {% for course in courses%}
          <div class="course-card">
            <img src="{{course.image}}" alt="imagem do curso">
            <div class="card-info">
              <h3>{{course.title}}</h3>
              <p>{{course.instructor}}</p>
              <a href="/courses/{{course.id}}">Detalhes</a>
            </div>
          </div>
        {% endfor%}
      </div>

    </div>
  </div>
{% endblock %}